:root {
    --primary-color: #012a4f;
    --secondary-color: #61cdd8;
    --detail-color: #ed1c24;
}

body {
    background-color: black;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
}

#navbar {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid white;
    top: 0;
    left: 0;
    height: 50px;
}

#navbar img {
    height: 50px;
    width: 50px;
    padding-left: 20px;
}

#navbar ul {
    display: flex;
    width: 100%;
    justify-content: end;
}

#navbar li {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

#navbar a {
    text-decoration: none;
    color: white;
}

