* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #012a4f;
    --light-blue: #61cdd8;
    --alt-red: hsl(358, 85%, 52%);
}

body {
    background-color: #181818;
    color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
}

nav {
    background-color: var(--dark-blue);
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px var(--alt-red);
}

nav img {
    width: 90px;
}

nav p {
    margin-top: 50px;
}

a {
    color: blue;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

a:hover {
    color: var(--light-blue);
    text-decoration: underline;
}

header {
    max-width: 800px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

header img {
    width: 300px;
}

hr {
    border-top: 2px solid var(--alt-red); 
    max-width: 800px;
    width: 80%;
}

img {
    max-width: 800px;
    width: 80%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-title {
    margin-bottom: 20px;
}

section {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    flex-direction: column;
    text-align: left;
    width: 800px;
    max-width: 800px;
}

section p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.date {
    color: #808080;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
    font-size: 12px;
}

@media only screen and (max-width: 800px) {

    nav a {
        margin-left: 10px;
    }

    header p {
        width: 80%;
    }

    hr {
        width: 100%;
    }

    section {
        width: 70%;
    }
}

